@import "../../styles//Variables.scss";


.item {
    background: radial-gradient(100% 100% at 0px 0px, #1c64f2, rgba(0, 0, 0, 0));
    padding: 1px;
    border-radius: calc(var(--bothub-scale, 1) * 12px);
    min-height: calc(var(--bothub-scale, 1) * 244px);
    max-width: calc(var(--bothub-scale, 1) * 410px);
}

.itemWrap {
    background: radial-gradient(80% 70% at 0px 0px, rgba(28, 100, 242, 0.38) 9.34%, rgba(0, 0, 0, 0) 100%), #121825;
    position: relative;
    border-radius: calc(var(--bothub-scale, 1) * 12px);
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.itemContent {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}

.title {
    font-weight: 600;
    text-decoration: none;
    text-align: left;
    font-size: max(calc(var(--bothub-scale, 1) * 22px), 12px);
    line-height: max(calc(var(--bothub-scale, 1) * 29px), 16px);
    margin-bottom: 16px;
}

.desc {
    font-weight: 400;
    text-decoration: none;
    text-align: left;
    font-size: max(calc(var(--bothub-scale, 1) * 16px), 12px);
    line-height: max(calc(var(--bothub-scale, 1) * 22px), 16px);
}
