@import "../../styles/Variables.scss";

.wrap {
    width: 100%;
    height: auto;
    border-top: 1px solid var(--darktheme-gray-scale-gray-3);
    background-image: url("../../assets/png/footer.png");
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.info {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    margin-bottom: 50px;
}

.text {
    font-weight: 500;
    font-size: max(calc(var(--bothub-scale, 1) * 10px), 14px);
    line-height: max(calc(var(--bothub-scale, 1) * 14px), 18px);
    margin-bottom: 12px;
}

.menu {
    width: calc(var(--bothun-scale, 1) * 854px);
    height: auto;
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 600;
    font-size: max(calc(var(--bothub-scale, 1) * 12px), 16px);
    line-height: max(calc(var(--bothub-scale, 1) * 16px), 20px);
    color: #616d8d !important;
}

.item {
    margin-right: 20px;
    margin-bottom: 20px;
}

.link {
    font-weight: 400;
    font-size: max(calc(var(--bothub-scale, 1) * 12px), 16px);
    line-height: max(calc(var(--bothub-scale, 1) * 16px), 20px);
}

@media (max-width: 900px) {
    .link {
        font-size: max(calc(var(--bothub-scale, 1) * 12px), 14px);
    }
}

@media (max-width: 800px) {
    .footer {
        flex-direction: column;
    }
    .menu {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .category {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 420px) {
    .footer {
        align-items: flex-start;
    }
    .menu {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}
