@import "./styles//Variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p,
a,
ul,
li,
h1,
h2,
h3,
h4,
button {
  color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: none;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

body {
  background-color: #0e0c15;
  font-family: "IBM Plex Sans", sans-serif;
}

input:focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: calc(var(--bothub-scale, 1) * 1370px);
  margin: auto;
  padding: 0px calc(var(--bothub-scale, 1) * 30px);
}

.fix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  position: relative;
}